@model IEnumerable<ProductSellingOnline.Models.ProductType>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="button is-link" asp-action="Create"><i class="fas fa-plus"></i>Create New</a>
</p>

<div class="level-left">
    <div class="table-container level-item">
        <table class="table" >
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


