@model IEnumerable<ProductType>

@{
    ViewData["Title"] = "Index";
}

<div class="block level-right">
    <p>
        <a class="button is-link" asp-action="Create"><i class="fas fa-plus"></i>Create New</a>
    </p>
</div>


<div class="block">
    <div class="table-container">
        <table class="table is-striped is-hoverable is-narrow is-fullwidth">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </tr>
                }
            </tbody>
        </table>
    </div>       
 </div>


