@model Appointments
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container is-bordered is-fluid" style="height:180px; background-color:aliceblue">
    <div class="column is-half">
        <div class="field is-horizontal">
            <div class="control column is-4">
                <label class="label" asp-for="CustomerName">Customer Name</label>
            </div>
            <div class="control column is-8">
                <input class="input is-focused" type="text" asp-for="CustomerName" readonly />
            </div>
            @*<div class="control column is-2"></div>*@
            <div class="control column is-4">
                <label class="label" asp-for="TotalAmount">Customer Email</label>
            </div>
            <div class="control column is-8">
                <input class="input is-focused" type="text" asp-for="TotalAmount" readonly />
            </div>

            <div class="control column is-4">
                <label class="label" asp-for="CustomerEmail">Customer Email</label>
            </div>
            <div class="control column is-8">
                <input class="input is-focused" type="text" asp-for="CustomerEmail" readonly />
            </div>

        </div>
    </div>
    <div class="column is-half">
        <div class="field is-horizontal">
            <div class="control column is-4">
                <label class="label" asp-for="CustomerPhoneNumber">Customer Name</label>
            </div>
            <div class="control column is-8">
                <input class="input is-focused" type="text" asp-for="CustomerPhoneNumber" readonly />
            </div>
            @*<div class="control column is-2"></div>*@
            <div class="control column is-4">
                <label class="label" asp-for="AppointmentDate">Customer Email</label>
            </div>
            <div class="control column is-8">
                <input class="input is-focused" type="text" asp-for="AppointmentDate" readonly />
            </div>
        </div>
    </div>
</div> 