@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="navbar-end">
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-item">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="navbar-item is-success">@await Component.InvokeAsync("UserName")</a>
            <button type="submit" class="button is-light">Logout</button>
        </form>
    }
    else
    {
        <div class="navbar-item">
            <a asp-area="Identity" asp-page="/Account/Login" class="button is-light">Login</a>
        </div>
    }
</div>
