<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                No items added to the shopping cart...
            </h1>
            <h2 class="subtitle">
                No appointments if no items...
            </h2>
        </div>
    </div>
</section>