@model ProductSellingOnline.Models.Products
@using ProductSellingOnline.Extensions
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

@* @{
    ViewData["Title"] = "Details";
}
 *@

<form method="post"  asp-controller="Home" asp-action="Details">
    <div class="field is-horizontal">
        <div class="column is-8">
            <div class="field is-horizontal">
                <div class="control column is-4">
                    <label class="label" asp-for="Name">Product Name</label>
                </div>
                <div class="control column is-8">
                    <input class="input is-focused" type="text" asp-for="Name" readonly/>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="control column is-4">
                    <label class="label" asp-for="Price">Product Price</label>
                </div>
                <div class="control column is-8">
                    <input class="input is-focused" type="text" asp-for="Price" readonly/>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="control column is-4">
                    <label class="label" asp-for="ProductType">Product Types</label>
                </div>
                <div class="control column is-8">
                    <input class="input is-focused" type="text" asp-for="ProductType.Name" readonly/>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="control column is-4">
                    <label class="label" asp-for="SpecialTag">Special Tags</label>
                </div>
                <div class="control column is-8">
                    <div class="select is-info">
                        <input class="input is-focused" type="text" asp-for="SpecialTag.Name" readonly/>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="control column is-4">
                    <label class="label" asp-for="ShadeColor"></label>
                </div>
                <div class="control column is-8">
                    <input class="input is-focused" type="text" asp-for="ShadeColor" readonly/>
                </div>
            </div>

            <div class="field">
                <div class="control column is-8">
                    <label class="checkbox" asp-for="Available" style="font-family:'Arial'">
                        <input type="checkbox" asp-for="Available" disabled/>
                        Available?
                    </label>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="control column is-4">
                </div>
                <div class="control column is-8">
                    @{
                        bool isInBag = false;
                        List<int> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart");

                        if (lstCart != null && lstCart.Contains(Model.Id))
                        {
                            isInBag = true;
                        }
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (isInBag)
                        {
                            <button type="submit" value="Remove Bag" asp-action="Remove" class="button is-danger form-control" asp-route-id="@Model.Id">Remove From Bag</button>
                        }

                        @if (Model.Quantity > 0)
                        {
                            <button type="submit" value="Add To Bag" class="button is-primary form-control" asp-route-id="@Model.Id">Add To Bag</button>
                        }
                        else
                        {
                            <p><strong>This product is not available</strong></p>
                        }

                    }
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
            <figure class="image is-fullwidth">
                <img src="@Model.Image" style="border-radius:5px; border:1px solid #bbb9b9" />
            </figure>
        </div>
    </div>
    <div class="field is-grouped">
        <input hidden asp-for="Id" />
        <div class="control">
            <a asp-action="Index" class="button is-light">Back to List</a>
        </div>
    </div>
</form>