@model IEnumerable<Products>
@{
    ViewData["Title"] = "Home Page";
}

<div class="field is-horizontal">
    @foreach (var product in Model)
    {
        <div class="column is-two-fifths">
            <div class="card">  
            <header class="card-header">
            <p class="card-header-title">@product.Name</p>
            </header>
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="@product.Image">
                </figure>
            </div>

            <div class="card-content">
                <div class="content">
                    <label style="font-size:20px; color:#a51313">@String.Format("{0:C}", product.Price)</label>
                </div>
            </div>
            <footer class="card-footer">
                <a asp-controller="Home" asp-action="Details" asp-route-Id="@product.Id" class="button is-success">Details View</a>
            </footer>
            </div>
        </div>       
    }
</div>