@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="field is-horizontal">
        <div class="column is-3">
            <partial name="_ManageNav" />
        </div>
        <div class="column is-5">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
